<div class="row">
  <div class="col-md-2 user-nav">
  <span class="avatar">
    <%= image_tag @user.avatar.url(:thumb) %>
  </span>
    <%= @user.name %>
    <ul>
      <li>
        <%= link_to "Notes", '#' %>
      </li>
      <li>
        <%= link_to "Calendar", '#' %>        
      </li>
      <li>
        <%= link_to "Chat", '#' %>        
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    
  </div>
</div>