<%= @project.title %>
<% @project.notes.each do |note| %>
  <ul>
    <li>
      <%= note.title %>
    </li>
    <li>
      <%= note.body %>
    </li>
  </ul>
<% end %>

<%= link_to "New Note", new_project_note_path(@project), class: 'btn btn-primary' %>
<%= link_to "Delete Project", user_project_path, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>