<%= @project.title %>
<ul class="notes">
  <%= render @notes %>
</ul>

<%= link_to "New Note", '', class: 'js-reveal-form btn btn-primary' %>
<%= link_to "Delete Project", user_project_path, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>

<div class="hidden">
  <%= form_for [@project, @note], remote: true do |f| %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="action">
      <%= f.submit "Save Note", class: "btn btn-success" %>
    </div>
  <% end %>
</div>